:root {
    --color-primary: #369;
    --color-body: #faebd7;
}

html {
    font-size: 62.5%;
}

body {
    opacity: 95%;
    background: url(./images/Shiny\ Overlay.svg);
    font-family: 'Times New Roman', Times, serif;
    background-position: 50%;
    color: #D4D4C2;
}

.main {
    width: 300px; 
    margin: 80px auto;
}
.navigationBar{
  font-size: 1.8rem;
  list-style-type: none;
  text-align: center;
  font-weight: bold;
  
}

.navigationBar li{
    display: inline;
    padding: 2rem;
}
.navigationBar a:link,a:visited{
    color: darkgrey;
    text-decoration: none;
}

.introductionHeader{
   text-align: center;
   float: right;
   font-size: 1.8rem;
   margin-right: 0.5rem;

}

.myPicture{
    height: 150px;
    border-radius: 50%;
    float: left;
    shape-outside: circle();
    margin: 15px;

}

.aboutMeHeader span
 {
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: var(--color-primary);
    color: #fff;
    padding: 5px 10px;
    margin: 0 0 10px 0;
    line-height: 24px;
}

.aboutMeParagraph{
   font-size: 1.8rem;
}
.aboutMeParagraph span{
    font-weight: bold;
}

.interestsHeader span{
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: #369;
    color: #fff;
    padding: 5px 10px;
    margin: 0 0 10px 0;
    line-height: 110px;
}

.interestsHeader{
    float: right;
}
.interestsPicture{
    width: 150px;
    border-radius: 20px;
    margin: 1.5rem;
}

.interestsTitle{
    font-size: 1.7rem;
}
.interestsTitle::before{
    content: "•";
    margin: 0.5rem; 
} 
.interests {
    padding: 0.5rem;
    margin-right: 1rem;
    line-height: 2;
}



.skillsPicture{
    width: 150px;
    border-radius: 20px;
    float: left;
    margin: 1.5rem; 
}
.skillsHeader span{
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: var(--color-primary);
    color: #fff;
    padding: 5px 10px;
    margin: 0 0 10px 0;
    line-height: 150px;
}

.skillsList{
   
    list-style:square;
    font-size: 17px;
}
.portofolioHeader span{
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: var(--color-primary);
    color: #fff;
    padding: 5px 10px;
    margin: 0 0 10px 0;
    line-height: 125px;
}
.portofolioPicture{
    width: 150px;
    border-radius: 10px;
    float: left;
    margin: 15px; 
}

.portofolioLink  {
    font-size: 1.9rem;
    color: #D4D4C2;
    text-decoration: none;
    font-weight: bold;
    float: left;
}
.portofolioLink::before{
    content: "•";
    margin: 5px;
}
.portofolioParagraph{
    display: inline-block;
    font-size: 1.7rem;
}

.portofolioParagraph span{
    font-weight: bold;
    color:darkorange;
}


.contactMeHeader span{
    font: bold 12px Sans-Serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: var(--color-primary);
    color: #fff;
    padding: 5px 10px;
    margin: 0 0 10px 0;
    line-height:120px;
}
.contactMePicture{
    width: 150px;
    border-radius: 20px;
    float: left;
    margin: 1.1rem; 
}

.linkedin{
    text-decoration: none;
    font-size: 30px;
    padding: 3rem;
    color:cornflowerblue;
    
}
.email{
    text-decoration: none;
    font-size: 30px;
    padding: 3rem;
    color:burlywood
}
.phone{
    text-decoration: none;
    font-size:30px;
    padding: 3rem;
    color: black;
}

footer{
        position:absolute;
        background:#24262b;
        height: auto;
        width: 100vw;
        font-family: "Open Sans";
        color: white;
        text-align: center;
        overflow-x: hidden;
        left: 0;
 }
 .footer-content{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     text-align: center;
 }
 .footer-content h3{
     font-size: 1.5rem;
     font-weight: 400;
     text-transform: capitalize;
     line-height: 3rem;
 }
 .footer-content h4{
     max-width: 500px;
     margin: 10px auto;
     line-height: 28px;
     font-size: 16px;
 }

 @media screen and (max-width: 420px){
     .navigationBar li {
        display:flex;
        justify-content: center;
        align-items: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
     }
 }

 @media screen and (max-width: 767px) {
     .navigationBar li {
        display:flex;
        justify-content: center;
        align-items: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
     }
 }






